body {
    margin-top: 100px;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-left: 3px solid #ccc;
}

.responsive-video {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
}