{% extends 'base.html.twig' %}

{% block title %}Symfony exo1{% endblock %}

{% block body %}
    <h1>Symfony - Rendu n°1</h1>

    <p>
        Bienvenue ! Voici l'énoncé de l'exercice : <a href="http://educ.vizapp.net/supinternet/dev2018/symfony%201/">Les
            bases de Symfony</a>.<br>
        Utilisez le menu en haut à droite pour naviguer.
    </p>
{% endblock %}